.logo-img {
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
}
.bg-div {
 overflow: hidden;
}
nav {
  float: left;
}
.tikki  {
  background-image: url("images (22).jpg");
  background-color: #cccccc;
}



.troll {
  border-radius: 50%;
}













.container {
  max-width: 960px;
  margin: 0 auto;
}
section.section:last-child {
  margin-bottom: 0;
}
section.section h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}
section.section p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.section p:last-child {
  margin-bottom: 0;
}
section.section.content {
  padding: 40px 0;
}
section.section.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.section.parallax h1 {
 
}
section.section.parallax-1 {
  background-image: url("http://www.newportbeachsideresort.com/img/masthead/weddings-beach.jpg");
}
section.section.parallax-2 {
  background-image: url("downloadrace.jpg");
}
section.section.parallax-3 {
  background-image: url("asad-atoll-biology-169191.jpg");
}

.cont-full-slide {
  min-height: 100px;
  position: relative;
  background: #F7F7F7;
}
.cont-full-slide .cont {
  top: 2%;
  width:30%;
  color: #fff;
  position: absolute;
  background: rgba(0,0,0,.4);
  border: 1px solid #272727;
}
.gdlr-color-wrapper, .gdlr-parallax-wrapper {
  overflow: hidden;
  background-position: center 0px;
  background-repeat: repeat;
  position: relative;
}


.clear {
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  zoom: 1;
}
.pk {
  border-radius: 50%;
}